<Configuration>
	<estrategia>avara</estrategia>
	
	<costoComer>5</costoComer>
	
	<costoPelear>10</costoPelear>
	
	<costoAvanzarAbajo>16</costoAvanzarAbajo>
	<costoAvanzarDerecha>16</costoAvanzarDerecha>
	
	<costoAvanzarArriba>16</costoAvanzarArriba>
	<costoAvanzarIzquierda>16</costoAvanzarIzquierda>
	
</Configuration>