<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
	<estrategia>avara</estrategia>
	
	<costoComer>450</costoComer>
	
	<costoPelear>500</costoPelear>
	
	<costoAvanzarAbajo>700</costoAvanzarAbajo>
	<costoAvanzarDerecha>700</costoAvanzarDerecha>
	
	<costoAvanzarArriba>700</costoAvanzarArriba>
	<costoAvanzarIzquierda>700</costoAvanzarIzquierda>
	
	<heuristica1>500</heuristica1>
	<heuristica2>100</heuristica2>
	<heuristica3>1</heuristica3>
</Configuration>
