# Root logger con salida por consola
log4j.rootLogger=INFO, A1
log4j.additivity.BC=false
log4j.logger.BC=INFO,R

#Appenders
log4j.appender.R=org.apache.log4j.RollingFileAppender
#log4j.appender.Rxml1=org.apache.log4j.RollingFileAppender
#log4j.appender.Rxml2=org.apache.log4j.RollingFileAppender

# Salida para Latex usando qtree para dibujar los árboles
#log4j.appender.Rlatex=org.apache.log4j.RollingFileAppender
#log4j.appender.Rlatex.File=arbol-busqueda/arbol-busqueda.tex
#log4j.appender.Rlatex.Append=false
#log4j.appender.Rlatex.layout=org.apache.log4j.PatternLayout
#log4j.appender.Rlatex.layout.ConversionPattern=%m%n


#Archivos de salida
log4j.appender.A1=org.apache.log4j.ConsoleAppender
log4j.appender.R.File=simulacion.pl

#log4j.appender.Rxml1.File=ejemplo-busqueda-1.xml
#log4j.appender.Rxml2.File=ejemplo-busqueda-2.xml

#Patrones
log4j.appender.A1.layout=org.apache.log4j.PatternLayout
log4j.appender.R.layout=org.apache.log4j.PatternLayout
log4j.appender.R.layout.ConversionPattern=%m.%n
#log4j.appender.Rxml1.layout=org.apache.log4j.PatternLayout
#log4j.appender.Rxml2.layout=org.apache.log4j.PatternLayout

log4j.appender.A1.layout.ConversionPattern=[%t] %-5p %c %x - %m%n
#log4j.appender.R.layout.ConversionPattern=%m.%n
#log4j.appender.Rxml1.layout.ConversionPattern=%m%n
#log4j.appender.Rxml2.layout.ConversionPattern=%m%n

# Ejemplo: Print the date in ISO 8601 format
#log4j.appender.A1.layout.ConversionPattern=%d [%t] %-5p %c - %m%n

# habilitando/deshabilitando loggers

log4j.logger.tpsia.tp2.agente.Agente=DEBUG
#log4j.logger.Pacman.Busqueda=INFO
#log4j.logger.Pacman.Busqueda.ejecucion3=INFO
log4j.logger.Pacman.Busqueda.Objetivo=DEBUG

# Configuración específica para ver una búsqueda.. que es muy larga
# Additivity en false quita la herencia, para evitar ver en consola

#log4j.additivity.Pacman.Busqueda.ejecucion1.xml=false
#log4j.logger.Pacman.Busqueda.ejecucion1.xml=DEBUG,Rxml1

#log4j.additivity.Pacman.Busqueda.ejecucion1.tex=false
#log4j.logger.Pacman.Busqueda.ejecucion1.tex=DEBUG,Rlatex
log4j.logger.Ambiente=DEBUG

#log4j.additivity.Pacman.Busqueda.ejecucion6.xml=false
#log4j.logger.Pacman.Busqueda.ejecucion6.xml=DEBUG,Rxml2
